version: "3.9"
services:
  backend:
    build: ./backend
    image: todo_backend:latest
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=1
      - ALLOWED_HOSTS=*
    depends_on: []

  frontend:
    build: ./frontend
    image: todo_frontend:latest
    ports:
      - "5173:80"
    depends_on:
      - backend
